<template>
    <div class="image-palette">
        <div class="left">
            <label>
                <input type="text" v-model="name">
            </label>
            <canvas></canvas>
        </div>

        <div class="right">
            <div class="color-block chosen-color"
                 :style="{'background-color': `rgb(${chosenColor.red}, ${chosenColor.green}, ${chosenColor.blue})` }"
                 @click="showPicker = !showPicker"
            >
            </div>
            <div class="color-block"
                 v-for="color in colors" :key="color.id"
                 :style="{'background-color': `rgb(${color.red}, ${color.green}, ${color.blue})` }"
                 @click="chooseColor(color)"
            >
            </div>
        </div>

        <color-picker
                class="color-picker"
                v-show="showPicker"
                theme="light"
                color="#000000"
                :sucker-hide="false"
                :sucker-canvas="canvas"
                :sucker-area="[]"
                @changeColor="suckColor"
        />
    </div>
</template>

<script>
    import Vue from 'vue'
    import ColorThief from 'colorthief'
    import colorPicker from '@caohenghu/vue-colorpicker'

    export default {
        name: 'ImagePalette',
        data() {
            return {
                colors: {},
                chosenColor: {red: 0, green: 0, blue: 0},
                canvas: null,
                showPicker: false,
                name: this.file.name.replace(/\.[^/.]+$/, ""),
            }
        },
        props: ['file'],
        computed: {
            hex() {
                function componentToHex(c) {
                    const hex = c.toString(16);
                    return hex.length === 1 ? "0" + hex : hex;
                }

                return "#" + componentToHex(this.chosenColor['red']) + componentToHex(this.chosenColor['green']) + componentToHex(this.chosenColor['blue']);
            },
            rgb() {
                return `rgb(${this.chosenColor['red']}, ${this.chosenColor['green']}, ${this.chosenColor['blue']})`;
            }
        },
        watch: {
            name: function () {
                this.$emit("resultChange");
            }
        },
        mounted() {
            const palette = this;
            const colorThief = new ColorThief();

            const extractColors = function (image) {
                const colors = colorThief.getPalette(image, 10);
                for (const index in colors) {
                    const [r, g, b] = colors[index];
                    Vue.set(palette.colors, index, {id: index, red: r, green: g, blue: b});
                }
            };

            this.canvas = this.$el.querySelector('canvas');
            const context = this.canvas.getContext('2d');

            const image = new Image();
            image.onload = function () {
                const imageRatio = image.width / image.height;

                // récupère la largeur css du canvas, et en déduit la hauteur à partir du ratio de l'image
                const resizedWidth = palette.canvas.offsetWidth;
                const resizedHeight = resizedWidth / imageRatio;

                context.canvas.width = resizedWidth;
                context.canvas.height = resizedHeight;
                context.drawImage(image, 0, 0, resizedWidth, resizedHeight);
                extractColors(image);
            };
            image.src = this.file.src;

            this.$emit("resultChange");
        },
        methods: {
            chooseColor(color) {
                this.chosenColor = color;
                this.$emit("resultChange");
            },
            suckColor(color) {
                const {r, g, b} = color.rgba;
                this.chosenColor = {red: r, green: g, blue: b,};
                this.$emit("resultChange");
            },
        },
        components: {
            colorPicker
        },
    }
</script>

<style scoped>
    .image-palette {
        display: inline-block;
        padding: 12px;
        background: rgba(0, 0, 0, 0.14);
        text-align: center;
        margin: 4px;
        vertical-align: top;
        position: relative;
        width: 45vw;
    }

    .left {
        display: inline-block;
        width: 50%;
    }

    .left input {
        width: 100%;
        border-radius: 4px;
        outline: none;
        border: none;
        padding: 1px 4px;
        box-sizing: border-box;
    }

    .left canvas {
        width: 100%;
    }

    .right {
        height: 100%;
        width: 164px;
        display: inline-block;
        vertical-align: top;
        margin-left: 8px;
    }

    .color-block {
        display: inline-block;
        width: 80px;
        height: 80px;
        border-radius: 24px;
        margin: 1px;
        cursor: pointer;
    }

    .chosen-color {
        border: 3px solid rgba(255, 255, 255, 0.4);
        box-shadow: 0 0 6px #fff;
        width: 162px;
        height: 162px;
    }

    .color-picker {
        position: absolute;
        bottom: 5px;
        right: 5px;
    }
</style>
