<template>
    <div id="app">
        <input type="file" @change="uploadFiles" multiple>
        <ImagePalette
                ref="palettes"
                v-for="image in images" :key="image.id"
                :file="image"
                @resultChange="updateExportResult"
        >
        </ImagePalette>

        <div class="tools">
            <p>{name} - {filename} - {filenameWithExtension} - {rgb} - {hex}</p>
            <label>
                <textarea class="template" v-model="exportTemplate" rows="1"></textarea>
            </label>
            <label>
                <textarea class="export" v-model="exportResult"></textarea>
            </label>
            <button @click="copyExport">
                <svg class="svg-icon" viewBox="0 0 20 20">
                    <path fill="none" d="M18.783,13.198H15.73c-0.431,0-0.78-0.35-0.78-0.779c0-0.433,0.349-0.78,0.78-0.78h2.273V3.652H7.852v0.922
							c0,0.433-0.349,0.78-0.78,0.78c-0.431,0-0.78-0.347-0.78-0.78V2.872c0-0.43,0.349-0.78,0.78-0.78h11.711
							c0.431,0,0.78,0.35,0.78,0.78v9.546C19.562,12.848,19.214,13.198,18.783,13.198z"></path>
                    <path fill="none" d="M12.927,17.908H1.217c-0.431,0-0.78-0.351-0.78-0.78V7.581c0-0.43,0.349-0.78,0.78-0.78h11.709
							c0.431,0,0.78,0.35,0.78,0.78v9.546C13.706,17.557,13.357,17.908,12.927,17.908z M1.997,16.348h10.15V8.361H1.997V16.348z"></path>
                </svg>
            </button>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue'
    import ImagePalette from './components/ImagePalette.vue'

    export default {
        name: 'app',
        data() {
            return {
                images: {},
                exportTemplate: "{name} => {rgb},",
                exportResult: '',
            };
        },
        methods: {
            copyExport() {
                const textarea = this.$el.querySelector('.export');
                textarea.select();
                textarea.setSelectionRange(0, 99999);
                document.execCommand("copy");
            },
            updateExportResult() {
                {
                    const palettes = this.$refs.palettes;

                    if (palettes === undefined) {
                        return '';
                    }

                    let result = '';
                    for (const palette of palettes) {
                        const parsedText = this.exportTemplate
                            .replace(/{name}/g, palette.name)
                            .replace(/{filename}/g, palette.file.name.replace(/\.[^/.]+$/, ""))
                            .replace(/{filenameWithExtension}/g, palette.file.name)
                            .replace(/{rgb}/g, palette.rgb)
                            .replace(/{hex}/g, palette.hex);

                        result += parsedText + '\n';
                    }

                    this.exportResult = result;
                }
            },
            uploadFiles(e) {
                this.images = {};
                this.exportResult = '';

                const files = e.target.files || e.dataTransfer.files;
                if (files.length <= 0) {
                    return;
                }

                for (const id in files) {
                    if (!files.hasOwnProperty(id)) {
                        continue;
                    }

                    this.createImage(id, files[id], e);
                }
            },
            createImage(id, file) {
                if (typeof file !== 'object') return;

                const reader = new FileReader();
                const app = this;

                reader.onload = (e) => {
                    Vue.set(app.images, id, {
                        id: id,
                        src: e.target.result,
                        name: file.name,
                    });
                };
                reader.readAsDataURL(file);
            },
        },
        watch: {
            exportTemplate: function () {
                this.updateExportResult()
            }
        },
        components: {
            ImagePalette
        }
    }
</script>

<style>
    body {
        background: #e7eff6;
    }

    #app {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        box-sizing: border-box;
    }

    #app input {
        display: block;
        margin: 0 auto 10px;
        font-size: 20px;
    }

    .tools {
        display: block;
        width: 60%;
        margin: 14px auto 0;
        padding-top: 14px;
        border-top: 1px dashed rgba(0, 0, 0, 0.14);
    }

    .tools textarea.template {
        display: inline-block;
        width: 100%;
        vertical-align: top;
        box-sizing: border-box;
    }

    .tools textarea.export {
        display: inline-block;
        width: 90%;
        vertical-align: top;
        box-sizing: border-box;
        height: 80px;
    }

    .tools button {
        display: inline-block;
        width: 10%;
        height: 80px;
        vertical-align: top;
        box-sizing: border-box;
        font-size: 38px;
    }

    .svg-icon {
        width: 1em;
        height: 1em;
    }

    .svg-icon path {
        fill: rgba(0, 0, 0, 0.5);
    }
</style>
